/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

.navbar-nav .nav-item {
  &.active {
    background: rgba(158, 158, 158, 0.05);
    a.nav-link {
      color: darken($primary, 20%);
    }
    &:hover {
      background: rgba(0, 0, 0, 0.07);
      a.nav-link {
        color: $primary;
      }
    }
  }
}
